@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../Fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url('../Fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-display: swap;
}