@import "~bootstrap";
@import "font";
@import "constants";

.header {
  background: $purple;

  .header-icon {
    width: 25px;
    height: 25px;

    path {
      stroke: $white;
    }
  }

  .home {
    text-decoration: none;
    color: $white;
    font-family: $font-bold;
    font-size: $font-big;
  }
}

.add-device{
  .error{
    color:$red;
  }
  .no-resize{
    resize: none;
  }
  .opacity-7{
    opacity: .7;
  }
.center-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
  label{
    margin-bottom: 30px;
  }
}